# Gradle
.gradle/

# Extra dependencies (database drivers)
bin/

# Dropwizard
build/
logs/
configuration.yaml

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
out/

# Mac OS X
.DS_Store

# Build Properties
build.properties

# api cache directory
cache/

# Contrib files
campusmap.json
extra-data.yaml

# locations output json
locations-*.json
services.json

# converted coordinates from jenkins
converted-coordinates.json

# Keytool Files
*.pem
*.cer
*.keystore
*.truststore
